################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/b/x64/Debug
/main
/judge_B
/generator_B
/test3.err
/test2.err
/test.out
/test.in
/test.err
/test_0.in
/sol_4.dump
/sol_3.dump
/sol_2.dump
/sol_1.dump
/sol_0.dump
/cur_full
/common.dump
/best_full
/best_0
/test_2.in
