################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/b/x64/Debug
/main
/test3.err
/test2.err
/test.out
/test.in
/test.err
/test_0.in
/sol_4.dump
/sol_3.dump
/sol_2.dump
/sol_1.dump
/sol_0.dump
/cur_full
/common.dump
/best_full
/best_0
/test_2.in
/generator_A
/generator_B
/judge_A
/judge_B
/scores.dump
/atest_d_0.in
/ascore_slow
/ascore_cur
/ascore_best
/ascore_bak
/bsuite1
/bsuite3
/bscore1
/bscore3_best
/bscore3
/bscore1_past
/bscore1_best
/bscore_top
/bscore_cur2
/bscore_cur
/qscore_best
/qscore
/qbest
/main.txt
